@import 'config';
@import 'utilities';
@import 'form';

.footerContainer {
    margin-left: $body-mob-margin-left;
    margin-right: $body-mob-margin-right;
    
    @media (min-width: $breakpoint-desktop ) {
        margin-left: $body-dt-margin-left;
        margin-right: $body-dt-margin-right;
    };
}

.footerFlexSectionContainer {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop ) {
        flex-direction: row;
        justify-content: space-evenly;
    };
}

.footerFlexSection {
    display: flex;
    flex-direction: column;
}

.footerAddress {

    & p {
        margin: 0.6rem 0;
    }
}

.footerLegalNav {
    & a {
        font-weight: bold;
        margin: 0.6rem 0;
    }
}

.footerDisclaimer {
    
}