@import 'config';
@import 'utilities';

.searchFormContainer,
.searchFormInput
{
    width: 100%;
}

.searchFormContainer {
    $border-settings: 1px solid black;
    border-top: $border-settings;
    border-bottom: $border-settings;
    display: flex;
    align-items: center;
}


.searchFormInput {
    
    padding: 1rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    &::placeholder {
        font-weight: normal;
        color: rgba($color: black, $alpha: 0.6);
    }
    
    @media (min-width: $breakpoint-tablet ) {
        transition: font-size 0.5s;
        
    };
    &:focus, &:active, &:focus-visible, &:hover {
        font-size: 3.5vh;
        outline: none;
    }

}