@import 'config';
@import 'utilities';

// TODO: Smooth out text appearing when nav is opened, with animations

.navContainer {
    position: fixed;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    background-color: adjust-color($color: $color-secondary, $alpha: -0.05) ;
    min-width: 50px;
    width: $nav-width-closed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.5s;
    z-index: 1;
    
    @media (min-width: $breakpoint-desktop ) {
        margin-top: -$body-dt-margin-top;
    };
}

.staticItemsContainer {
    position: inherit;
    background-color: $color-secondary;
    width: 100%;
    min-width: inherit;
    max-width: $nav-width-closed;
    height: inherit;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.staticItem {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    
    & > svg {
        width: 100%;
        height: min-content;
        min-height: 35px;
        min-width: 35px;
        &:hover {
            cursor: pointer;
        }
    }
}

.navLinksContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: $body-mob-margin-right;
    text-align: end;
    transition: display 0.5s ease-in-out;
    z-index: 1;
    
    @media (min-width: $breakpoint-desktop ) {
        margin-right: $body-dt-margin-right + 2vw;
    };

    & > * {
        margin-left: $body-mob-margin-left;
    }
    
    & ul {
        display: inherit;
        flex-direction: inherit;
        align-items: flex-end;
        text-align: right;
        &:first-of-type {
            margin-top: 5vh;
            margin-bottom: 2vh;
        }

        & + ul {
            $vertical-margins: 2vh;
            margin-top: $vertical-margins;
            margin-bottom: $vertical-margins;
        }
    }

    & li {
        $spacing-margin: 1.5vh;
        font-size: 2.5vh;
        margin: $spacing-margin 0;
        width: 100%;
        
        &:first-of-type {
            margin-top: 0;
        }
        
        @media (min-width: $breakpoint-min ) {
            $spacing-margin: 2vh;
            font-size: 3vh;
            
        };
    }
    & a {
        transition: font-size 0.5s, color 0.15s;
        outline: none;
        &:hover, &:focus {
            font-size: 4vh;
            font-weight: bold;
        }
        &:active {
            color: white;
        }
    }

    & .listTitle {
        opacity: 75%;
        text-decoration: underline;
    }
    
    & form {
        
        width: auto;
        font-size: 3vh;
        padding: 2vh;
        
        @media (min-width: $breakpoint-desktop ) {
            margin-left: $body-dt-margin-left;
            transition: font-size 0.5s;
            
        };
        
        & > input {
            font-size: inherit;
            padding: 0 2vw;
            @media (min-width: $breakpoint-desktop ) {
                transition:  inherit;
                &:hover, &:active, &:focus {
                    font-size: 4vh;
                    font-weight: bold;
                    & ::placeholder {
                        font-weight: bold;
                    }
                }
            };
        }
    }
}

.bars {
    font-size: 3vw;
}

.navExpanded {
    width: 100vw;
}

.hiddenWhenCollapsed {
    display: none;
    visibility: hidden;
    & * {
        visibility: hidden;

    }
}

.showWhenExpanded {
    display: flex;
    visibility: visible;
    & * {
        visibility: visible;
    
    }
}

.navLogo {
    & * {
        fill: black !important;
    }
}