@import 'config';
@import 'utilities';

.navContainer {
    position: fixed;
    height: 100vh;
    // background-color:  $color-secondary;
    background-color: adjust-color($color: $color-secondary, $alpha: -0.05) ;
    min-width: 50px;
    // max-width: $nav-max-width-closed;
    width: $nav-width-closed;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: width 0.5s;
    
    @media (min-width: $breakpoint-desktop ) {
        margin-top: $body-dt-margin-top * -1;
    };
}

.staticItemsContainer {
    position: fixed;
    background-color: $color-secondary;
    width: 100%;
    min-width: 50px;
    max-width: $nav-width-closed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.staticItem {
    max-height: 75px;
    min-height: 50px;
    display: flex;
    justify-content: center;

    & > svg {
        width: 75%;
        height: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}

.navLinksContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: $body-mob-margin-right;
    text-align: end;
    transition: display 0.5s ease-in-out;
    @media (min-width: $breakpoint-desktop ) {
        margin-right: $body-dt-margin-right + 2vw;
    };
    
    & li {
        $spacing-margin: 1vh * 2.5;
        font-size: 1vh * 3;
        margin: $spacing-margin 0;
    }
    & a {
        transition: font-size 0.5s;
        &:hover {
            font-size: 4vh;
            font-weight: bold;
        }
    }
    & form {
        margin-left: $body-dt-margin-left;
        width: auto;
    }
}

.bars {
    width: 50%;
}

.navExpanded {
    width: 100vw;
}

.hiddenWhenCollapsed {
    display: none;
    visibility: hidden;
    & * {
        visibility: hidden;

    }
}

.showWhenExpanded {
    display: flex;
    visibility: visible;
    & * {
        visibility: visible;
    
    }
}