@import 'config';
@import 'utilities';
@import 'button';


body {
    margin: 0;
    min-width: 50px;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: $color-primary;
}

li {
    list-style: none;
}