@import 'config';
@import 'utilities';
@import 'button';


body {
    margin: 0;
    min-width: 50px;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: $color-primary;
    transition: color 0.25s;
    transition: font-size 0.35s;
    &:hover, &:focus {
        color: $color-secondary;
    };
}


li {
    list-style: none;
}