@import 'config';
@import 'utilities';

.heroContainer {
    margin: 0;
    margin-left: 0;
    margin-right: 0 !important;
    position: relative;
    
    z-index: -1;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    margin-left: -$body-mob-margin-left-offset;
    @media (min-width: $breakpoint-tablet ) {
    };
    @media (min-width: $breakpoint-desktop ) {
        margin-left: -$body-dt-margin-left-offset;
        
    };
    
    & img {
        position: absolute;
        // height: 100%;
    }
}

.heroBannerImg {
    width: 100%;
    // aspect-ratio: 4 / 5;
        @media (min-width: $breakpoint-tablet ) {
            width: 80vw;
            z-index: -1;
            opacity: 50%;
            width: 100%;
        };

}