@import 'config';
@import 'utilities';
@import 'contentModules';
@import 'pageSectionLayout';

$module-vertical-padding: 5vh;

.columnisedSectionContainer {
    display: flex;
    flex-direction: column;
    
    @media (min-width: $breakpoint-tablet ) {
        flex-direction: row;
        margin-bottom: 0;

    };
}

.moduleTitle,
.moduleContent
{
    @media (min-width: $breakpoint-tablet ) {
        padding-top: $module-vertical-padding;
        padding-bottom: $module-vertical-padding;
        width: 100%;
    };
}

.moduleTitleContainer {
    @extend .titleSection;
}

.moduleContent {
   @extend .contentSection;
   & > a {
    margin-left: 1vw;
    font-size: 1.25rem;
    font-weight: bold;
    &:hover, &:focus {
        font-size: 1.5rem;
    };
    ;}
    
    & * p a {
        // font-weight: bold;
        text-decoration: underline !important;
    }
}