@import 'config';
@import 'utilities';
@import 'form';

.socMed {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;

    & * + * {
        margin-left: 2vw;
    }
    
    @media (min-width: $breakpoint-tablet ) {
        font-size: 1.25rem;
        
    };
    
    @media (min-width: $breakpoint-desktop ) {
        & * + * {
            margin-left: 0.5vw;
        }
        margin-bottom: 3rem;
        & > *:hover {
            color: lighten($color-primary, 20%);
        }
    };
}